<h3 class="text-lg">Railway Station Dashboard</h3>
<mat-form-field class="w-full sm:w-1/3 mt-4">
    <mat-label>Location filter</mat-label>
    <input matInput type="text" [formControl]="searchControl" aria-label="Location filter">
</mat-form-field>
@if (loading$|async) {
    <div class="flex justify-center items-center">
        <mat-progress-spinner
                class="w-6"
                [mode]="'indeterminate'"
                [value]="50"
                aria-label="Loading">
        </mat-progress-spinner>
    </div>
} @else {
    @if (error$ | async; as error) {
        <div>
            {{ (error.message) || 'An error occurred while loading data.' }}
        </div>
    }
    <div class="grid grid-flow-row gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center mt-8">
        @for (station of filteredStations$ | async; track $index) {
            <app-station-card [tabIndex]="$index" [station]="station"></app-station-card>
        }
    </div>
    @if ((filteredStations$|async)?.length === 0 && !(error$|async)) {
        <span aria-label="No stations found">No stations found with your search criteria.</span>
    }
}
